#####################################################################
# 	Extruder
#####################################################################

[extruder]
max_extrude_only_distance: 1000.0
step_pin: PD15
dir_pin: PD14
enable_pin: !PC7
##	Update value below when you perform extruder calibration
##	If you ask for 100mm of filament, but in reality it is 98mm:
##	rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point
#rotation_distance: 21.62
rotation_distance: 3.4334
##	Update Gear Ratio depending on your Extruder Type
##	Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
##	Use 80:20 for M4, M3.1
# gear_ratio: 7:1
microsteps: 16
# full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PB3
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA2
#control: pid
#pid_Kp: 29.196
#pid_Ki: 1.664
#pid_Kd: 128.096
control = pid
pid_kp = 18.220
pid_ki = 0.675
pid_kd = 122.982
min_temp: 0
max_temp: 300
# pressure_advance: 0.035
#pressure_advance_smooth_time: 0.040
min_extrude_temp: 170

[tmc2209 extruder]
uart_pin: PC6
run_current: 0.500
hold_current: 0.350
stealthchop_threshold: 999999
diag_pin:

